body {
    margin: 0px;
}

p{
    margin: 0px;
}

.dropdown{
    display: none;
  }
  
  .mobile_eco_friendly{
    display: none;
  }
  

/* Header Styles */
.header_container {
    display:flex;
    justify-content: space-around;
    height: 125px;
    background-color: #350501;
}

.logo_wrapper {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100%;
    width: 150px;
    align-items: center;
}


/* Middle Header */
.middle_header {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1.8em;
}

.links_wrapper a{
    color:#cecccc;
    text-decoration: none;
}
.links_wrapper_large{
    width: 100% ;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }



/* Right Header */

.right_header .eco_friendly{
    font-size: .6rem;
    display: flex;
}
.right_header .eco_friendly_text{
    color: #cecccc;
}
.right_header img{
    height: 100%;
    width: 25px;
    padding-top: 10px;
}

.right_header .contactus_button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8px;
}

.right_header .contactus_button a{
    display: flex;
    justify-content: space-around;
    color: #cecccc;
    text-decoration: none;
    font-size: 1.2rem;
    border: 13px solid black;
    background-color: black;
    border-radius: 25px;
}


.body_container{
    background-color: #cecccc;
    display: grid;
    grid-template-columns: .2fr 1fr .2fr;
  }
  .middle_column{
    grid-column: 2;
    box-shadow: 2px 0px 24px 9px rgba(0,0,0,0.35);
  }

  .middle_column p {
    font-size: 1.5rem;
    padding: 35px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
/* Footer Style */
.footer_container{
    height: 250px;
    background-color: #350501; 
}
.footer{
    display: flex;
    justify-content: space-around;
}

.footer .footer_links a{
    font-size: 1.8rem;
    text-decoration: none;
    color: #cecccc;
}
.footer .footerl{
    padding: 15px;
}
.footer_eco_friendly img{
    height: 100%;
    width: 350px;
    align-items: center;
}
.footer .footer_logo img{
    height: 100%;
    width: 300px;
    align-items: center;
}
/* Social media links */
.social_media_links{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #350501;
    height: 25px
  }
  .social_media_links i{
    color: #cecccc;
    font-size: 1.2rem;
    opacity: 45%;
  }