body {
    margin: 0px;
}

p{
    margin: 0px;
}
.dropdown{
    display: none;
  }
  
  .mobile_eco_friendly{
    display: none;
  }
  

/* Header Styles */
.header_container {
    display: grid;
    grid-template-columns: .2fr 1fr .4fr;
    background-image: url(../../logos/background.jpg);
  }
  
  .logo_wrapper {
      display: flex;
      grid-row: 1;
      grid-column: 1;
      align-items: center;
  }
  
  .logo img {
      height: 100%;
      width: 150px;
      align-items: center;
  }
  
  
  /* Middle Header */
  .hamburger i{
    visibility: hidden;
  }
  .middle_header{
    display: flex;
    align-items: flex-end;
    grid-column: 2;
    grid-row: 1;
  }
  .middle_header {
      width: 100;
      font-size: 1.8rem;
  }
  
  .dropdown,
  .dropdown-content {
    display: none;
  }
  
  .links_wrapper_large a{
    color: #cecccc;
    text-decoration: none;
  }
  .links_wrapper_large{
    width: 100% ;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  
  
  
  /* Right Header */
  .contact_us{
    grid-column: 3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .eco_friendly {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .right_header .eco_friendly h1{
      font-size: 1rem;
      display: flex;
  }
  .right_header .eco_friendly_text{
      color: #cecccc;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .right_header img{
      height: 100%;
      width: 25px;
      padding: 4px 0 4px 0;
  }
  
  .right_header .contactus_button{
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 8px;
  }
  
  .right_header .contactus_button a{
      display: flex;
      justify-content: space-around;
      color: #cecccc;
      text-decoration: none;
      font-size: 1.8rem;
  }
  .mobile_eco_friendly{
    display: none;
  }

/* Body styles */

.body_container{
    display: grid;
    grid-template-columns: .2fr 2fr .2fr .2fr .2fr .2fr .4fr;
    background-color: #cecccc;
    height: 100%vh;
}
.contact_text{
    grid-column: 2;
    box-shadow: -15px 2px 31px 3px rgba(0,0,0,0.56);
}

.contact_us_header{
    grid-column: 2;
    
}
.contact_us_header h1{
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
}
.contact_info_wrapper{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    padding: 35px;
}
.contact_info_wrapper h3{
    font-size: 1.8rem;
}
.contact_info_wrapper p{
    font-size: 1.5rem;
    padding: 5px;
}

.noah_name{
  display: flex;
  align-items: center;
}

.isaac_name{
  display: flex;
  align-items: center;
}

.garret_name{
  display: flex;
  align-items: center;
}
.redstripe{
    grid-column: 3;
    grid-row: 1/3;
    background-color: #fd0506;
}
.blackstripe{
    grid-column: 5;
    grid-row: 1/3;
    background-color: black;
}
.whitestripe{
    grid-column: 6;
    box-shadow: 15px 2px 31px 3px rgba(0,0,0,0.56);
}

/* Footer Style */
.footer_container{
    background-image: url(../../logos/background.jpg);
}
.footer{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.footer_links{
  padding: 20px 0 0 50px;
}
.footerl{
  padding-bottom: 2px;
}
.footer .footer_links a{
    font-size: 1rem;
    text-decoration: none;
    color: #cecccc;
}

.footer_eco_friendly img{
    height: 100%;
    width: 150px;
    align-items: center;
    padding-top: 25px;
}
.footer_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3;
}
.footer .footer_logo img{
    width: 170px;
    align-items: center;

}
/* Social media links */
.social_media_links{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  grid-column: 2;
  grid-row: 1;
  padding: 35px;
}
.social_media_links i{
  color: #fd0506;
  font-size: 1.2rem;
  opacity: 45%;
}