body {
    margin: 0px;
}

p{
    margin: 0px;
}
.dropdown{
    display: none;
  }
  
  .mobile_eco_friendly{
    display: none;
  }
  


/* Header Styles */
.header_container {
    display:flex;
    justify-content: space-around;
    height: 125px;
    background-color: #350501;
}

.logo_wrapper {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100%;
    width: 150px;
    align-items: center;
}


/* Middle Header */
.middle_header {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1.8em;
}

.links_wrapper a{
    color:#cecccc;
    text-decoration: none;
}
.links_wrapper_large{
    width: 100% ;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }



/* Right Header */

.right_header .eco_friendly{
    font-size: .6rem;
    display: flex;
}
.right_header .eco_friendly_text{
    color: #cecccc;
}
.right_header img{
    height: 100%;
    width: 25px;
    padding-top: 10px;
}

.right_header .contactus_button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8px;
}

.right_header .contactus_button a{
    display: flex;
    justify-content: space-around;
    color: #cecccc;
    text-decoration: none;
    font-size: 1.2rem;
    border: 13px solid black;
    background-color: black;
    border-radius: 25px;
}
/* Body Styles */

.eco_raster_body {
    background-color: #cecccc;
    height: 100%vh;
}

.what_is_ecoraster h1{
    padding-top: 20px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    font-size: 3.5rem;
}
.eco_raster_ex{
    padding: 30px 55px 5px;
    font-size: 1.4rem;
}
/* application */
.agriculture_equestrian h1{
    padding: 15px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    font-size: 3.5rem;
}
.ecoraster_equestrain{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}
.equestrian_img{
    display: flex;
    justify-content: space-around;
}
.equestrian_img img{
    height: 100%;
    width: 500px;
    padding: 10px;
}
.equestrian_text{
    grid-column: 2;
    padding: 30px;
    font-size: 1.4rem;
}
.residential_header h1{
    padding: 15px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    font-size: 3.5rem;
}
.residential_body{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.residential_img{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.residential_img img{
    height: 281.25px;
    width: 500px;
}

.residential_text{
    grid-column: 2;
    padding: 30px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}
/* products */
.eco_raster_prod h1{
    padding: 15px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    font-size: 3.5rem;
}   
.eco_raster_prod h2{
    padding: 15px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    font-size: 3.5rem;
}   
.e50{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.e50_text{
    display: grid;
    grid-template-columns: 2fr .75fr;
    align-items: center;
}

.e50_text p{
    padding: 15px;
    font-size: 1.5rem;
}

.e50_text ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 1.3rem;
}
.e40_header h2{
    padding: 15px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    font-size: 3.5rem;
}
.e40_text{
    display: grid;
    grid-template-columns: 2fr .75fr;
    align-items: center;
}

.e40_text p{
    padding: 15px;
    font-size: 1.5rem;
}

.e40_text ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 1.3rem;
}
.e30_header{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.e30_text{
    display: grid;
    grid-template-columns: 2fr .75fr;
    align-items: center;
}

.e30_text p{
    padding: 15px;
    font-size: 1.5rem;
}

.e30_text ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 1.3rem;
}
.x30_header{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.x30_text{
    display: grid;
    grid-template-columns: 2fr .75fr;
    align-items: center;
}

.x30_text p{
    padding: 15px;
    font-size: 1.5rem;
}

.x30_text ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 1.3rem;
}
.x30_header{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.x30_text{
    display: grid;
    grid-template-columns: 2fr .75fr;
    align-items: center;
}

.x30_text p{
    padding: 15px;
    font-size: 1.5rem;
}

.x30_text ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 1.3rem;
}
.bloxx_header{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bloxx_text{
    display: grid;
    grid-template-columns: 2fr .75fr;
    align-items: center;
}

.bloxx_text p{
    padding: 15px;
    font-size: 1.5rem;
}

.bloxx_text ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 1.3rem;
}

/* Footer Styles */
.footer_container{
    height: 250px;
    background-color: #350501; 
}
.footer{
    display: flex;
    justify-content: space-around;
}

.footer .footer_links a{
    font-size: 1.8rem;
    text-decoration: none;
    color: #cecccc;
}
.footer .footerl{
    padding: 15px;
}
.footer_eco_friendly img{
    height: 100%;
    width: 350px;
    align-items: center;
}
.footer .footer_logo img{
    height: 100%;
    width: 300px;
    align-items: center;
}
/* Social media links */
.social_media_links{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #350501;
    height: 25px
  }
  .social_media_links i{
    color: #cecccc;
    font-size: 1.2rem;
    opacity: 45%;
  }