body {
    margin: 0px;
}

p{
    margin: 0px;
    font-size: 1.5rem;
}
.dropdown{
    display: none;
  }
  
  .mobile_eco_friendly{
    display: none;
  }
  


/* Header Styles */
.header_container {
    display: grid;
    grid-template-columns: .2fr 1fr .4fr;
    background-image: url(../../logos/background.jpg);
    
  }
  
  .logo_wrapper {
      display: flex;
      grid-row: 1;
      grid-column: 1;
      align-items: center;
  }
  
  .logo img {
    height: 100%;
    width: 150px;
    align-items: center;
    padding-top: 1px;
  }
  
  
  /* Middle Header */
  .hamburger i{
    visibility: hidden;
  }
  .middle_header{
    display: flex;
    align-items: flex-end;
    grid-column: 2;
    grid-row: 1;
  }
  .middle_header {
      width: 100;
      font-size: 1.8rem;
  }
  
  .dropdown,
  .dropdown-content {
    display: none;
  }
  
  .links_wrapper_large a{
    color: #cecccc;
    text-decoration: none;
  }
  .links_wrapper_large{
    width: 100% ;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  
  
  
  /* Right Header */
  .contact_us{
    grid-column: 3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .eco_friendly {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .right_header .eco_friendly h1{
      font-size: 1rem;
      display: flex;
  }
  .right_header .eco_friendly_text{
      color: #cecccc;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .right_header img{
      width: 25px;
      padding: 4px 0 4px 0;
  }
  
  .right_header .contactus_button{
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 8px;
  }
  
  .right_header .contactus_button a{
      display: flex;
      justify-content: space-around;
      color: #cecccc;
      text-decoration: none;
      font-size: 1.8rem;
  }
  .mobile_eco_friendly{
    display: none;
  }
/* Body Styles */
.body_wrapper{
    display: grid;
    grid-template-columns: .2fr 1fr .2fr;
    background-color: #cecccc;
    
}

.eco_raster_body {
    grid-column: 2;
    background-color: #cecccc;
    box-shadow: 2px 0px 24px 9px rgba(0,0,0,0.35);
}

.what_is_ecoraster h1{
    padding: 35px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    font-size: 3.5rem;
}
.eco_raster_ex{
    padding: 30px 45px 5px;
    font-size: 1.4rem;
}
/* application */

.residential_header h1{
    padding: 15px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    font-size: 3rem;
}
.residential_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.residential_img{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
}
.residential_img img{
    height: 75%;
    width: 100%;
}

.residential_text{
    grid-column: 2;
    padding: 30px 45px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}
/* products */
.eco_raster_prod h1{
    padding: 15px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    font-size: 2.7rem;
}   
.eco_raster_prod h2{
    padding: 15px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
}   
.e50{
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.e50_text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.e50_text p{
    padding: 15px 45px;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}

.e50_text ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 1.3rem;
}
/* .e40_header h2{
    padding: 15px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    font-size: 3.5rem;
}
.e40_text{
    display: grid;
    grid-template-columns: 2fr .75fr;
    align-items: center;
}

.e40_text p{
    padding: 15px;
    font-size: 1.5rem;
}

.e40_text ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 1.3rem;
}
.e30_header{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.e30_text{
    display: grid;
    grid-template-columns: 2fr .75fr;
    align-items: center;
}

.e30_text p{
    padding: 15px;
    font-size: 1.5rem;
}

.e30_text ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 1.3rem;
} */
.x30_header{
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 15px;
}

.x30_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.x30_text p{
    padding: 15px 45px;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}

.x30_text ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 1.3rem;
}
.bloxx_header{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 15px;
}

.bloxx_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bloxx_text p{
    padding: 15px 45px;
    font-size: 1.5rem;
}

.bloxx_text ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 1.3rem;
}

.ecoraster_end{
    padding: 45px 45px 15px 45px;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ecoraster_end a{
    color: black;
    font-weight: 600;

}

/* Footer Styles */
.footer_container{
    background-image: url(../../logos/background.jpg);
    
}
.footer{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.footer_links{
  padding: 20px 0 0 50px;
}
.footerl{
  padding-bottom: 2px;
}
.footer .footer_links a{
    font-size: 1rem;
    text-decoration: none;
    color: #cecccc;
}

.footer_eco_friendly img{
    height: 100%;
    width: 150px;
    align-items: center;
    padding-top: 25px;
}
.footer_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3;
}
.footer .footer_logo img{
    width: 170px;
    align-items: center;
    padding-bottom: 20px;
}
/* Social media links */
.social_media_links{
  display: flex;
  justify-content: center;
  height: 25px;
  grid-column: 2;
  grid-row: 1;
  padding: 35px;
}
.social_media_links i{
  color: #fd0506;
  font-size: 1.2rem;
  opacity: 45%;
}