p{
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
}
.header_container {
    display:grid;
    grid-template-columns: 10vw 1fr 20vw;
    grid-template-rows: 5vh 1fr;
    background-image: url(../../logos/background.jpg);
    background-size: cover;

}
.middle_header{
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.links_wrapper_large{
    display: none;
}
.links_wrapper{
    grid-column: 1;
    grid-row: 1/3;
}
.hamburger i{
    visibility: visible;
    font-size: 1.8rem;
}

.hamburger button{
    color: #cecccc;
    text-decoration: none;
    background: none;
    border: none;
    padding: 0;
    outline: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #cecccc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* .dropdown:hover .dropdown-content {
    display: block;
} */

.show{
    display: block;
}

.logo_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    grid-row: 1/3;
}

.logo_wrapper img{
    height: 14vh;
}
.right_header{
    visibility: hidden;
    display: none;
}
.mobile_eco_friendly{
    display: none;
}


.body_wrapper{
    display: grid;
    grid-template-columns: 1fr;
}



.what_is_ecoraster h1 {
    font-size: 2.5rem;
}
.residential_body{
    display: grid;
    grid-template-columns: 1fr;
}
.residential_img{
    padding:0;
}
.residential_img img{
    width: 100%;
}

.residential_text{
    grid-column: auto;
}
.e50_text{
    display: grid;
    grid-template-columns: 1fr;
}
.e40_text{
    display: grid;
    grid-template-columns: 1fr;
}
.e30_text{
    display: grid;
    grid-template-columns: 1fr;
}
.x30_text{
    display: grid;
    grid-template-columns: 1fr;
}
.bloxx_text{
    display: grid;
    grid-template-columns: 1fr;
}


/* footer */
.footer{
    display: flex;
    flex-direction: column;  
    background-image: url(../../logos/background.jpg);
    background-size: cover;
}
.footer_links{
    display: none;
}
.footer_container{
    height: 100%;
}
.social_media_links{
    padding: 0;
}

.footer_eco_friendly{
    display:none;
}